/*container*/
.charts-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 60px;
}

.charts-container > .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

/*.recharts-responsive-container*/
.recharts-responsive-container {
    min-height: 260px;
    background-color: white;
}

._PoidChart {
    min-height: 325px;
}

/*.recharts-wrapper*/
.recharts-wrapper {
    border-radius: 5px;
}

._PoidChart > .recharts-wrapper {
    background-color: #fbfbfb;
}

._ObjectifsChart > .recharts-wrapper {
    background-color: red;
}

._RadarObjectifsChart > .recharts-wrapper {
    background-color: #282D30;
}

._KPIChart > .recharts-wrapper {
    background-color: #fbfbfb;
}

/*Objectifs*/
._ObjectifsChart .recharts-tooltip-item-list span {
    color: black !important;
}

.titleChart2 {
    z-index: 10;
    transform: translate(10px, 30px);
    font-weight: normal;
    white-space: break-spaces;
    /*width: 10px;
    margin: 10px;*/
}

.recharts-rectangle.recharts-tooltip-cursor {

}

/*kpi*/
.label-top-1 {
}

.label-bottom-1 {
    transform: translateY(20px);
    font-weight: bolder;
}

.label-bottom-2 {
    transform: translateY(35px);
    font-weight: bolder;
}

.recharts-legend-item-text {
    color: black !important;
}

/*poid*/
.titleChart1 {
    transform: translateY(20px);
    font-weight: bolder;
}

._PoidChart > div > svg > g > g > line:last-child,
._PoidChart > div > svg > g > g > line:nth-child(7),
._PoidChart > div > svg > g > g > line:nth-child(6) {
    display: none;
}

@media only screen and (max-height: 781px) {
    ._RadarObjectifsChart {
        zoom: 0.6;
    }
}

@media only screen and (max-height: 781px) and (max-width: 1024px) {
    /*container*/
    .charts-container {
        gap: 10px;
    }

    .charts-container > .wrapper {
        gap: 5px;
    }

    .recharts-responsive-container {
        zoom: 0.7;
        /*min-height: 182px;*/
    }

    ._PoidChart {
        /*min-height: 227px;*/
    }

    ._RadarObjectifsChart {
        zoom: 0.5;
    }

}
