main {
    margin: 50px;

}

/* main header */
main header {
    margin-bottom: 50px;
}

main header h1 {
    color: black;
    font-family: Roboto;
    font-style: normal;
    font-weight: bolder;
    font-size: 48px;
    line-height: 24px;
}

main header h1 span {
    color: red;
}

main header p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}

/*container*/
.container {
    /*margin: 100px 200px;*/
    display: grid;
    grid-template-columns: auto 258px;
    grid-gap: 20px;
    justify-items: stretch;

}

.charts-container {
}

/*
._Energie {
    width: 258px;
}
*/

@media only screen and (max-height: 781px) and (max-width: 1024px) {
    /*container*/
    .container {
        /*margin: 100px 200px;*/
        display: grid;
        grid-template-columns: auto;
        /*grid-template-rows: repeat(2,1fr);*/
        grid-template-rows: auto;
        grid-gap: 20px;
        /*width: 1024px;*/

    }

    ._Energie {
        grid-column: 1;
        grid-row: 1/2;
    }

    .charts-container {
        grid-column: 1;
        grid-row: 2/2;
    }


}
