
article {
    display: grid;
    grid-template-rows: repeat(4, 124px);
    grid-gap: 71px;
}


article > div {
    display: flex;
    justify-content: right;
    Width: 258px;
    Height: 124px;
    background-color: rgba(251, 251, 251, 1);
}

article > div > img {
    padding: 32px;
}

article > div > span {
    float: right;
    margin: 32px 0;
}

article > div > span > h2 {
    margin: 0;
   /* font-size: 13px;
    line-height: 2;*/
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #282D30;
}

article > div > span > p {
    /*margin: 0;
    font-size: 11px;*/
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #74798C;
}
article {
    display: grid;
    grid-template-rows: repeat(4, 124px);
    grid-gap: 71px;
}
@media only screen and (max-height: 781px) and (max-width: 1024px) {

    article {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        grid-gap: 11px;
    }
    article > div {
        Width: 207px;
        Height: 111px;
    }
}
