
header.App-header {
    display: flex;
    justify-content: space-between;
    /*width: 100%;*/
    height: 100px;
    background-color: black;

}

.App-header > .App-logo {
    width: 178px;
    height: 70px;
    margin: 14px;
}
.App-header > nav > ul {
    /*display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -2px 0;
    width: 100%;*/
}
.App-header > nav, .App-header > nav > ul {
    display: contents;
}

.App-header > nav > ul > li {
    display: contents;
}

.App-header > nav > ul > li > a {
    text-decoration: none;
    color: white;
    padding: 23px;
    margin: 17px;
    width: 250px;
    font-size: 20px;
    text-align: center;
}

.App-header > nav > ul > li > a:hover {
    background-color: #282D30;
}
