aside {
    display: block;
    background-color: black;
    width: 90px;
    /*padding-bottom: 100px;
    min-height: calc(100% - 100px);*/
}

aside > nav {
    display: contents;
}

aside > nav > ul {
    margin-top: 150px;
    margin-bottom: 200px;
    margin-left: 11%;

    list-style: none;
    display: grid;
    grid-template-rows: repeat(4, 68px);
    grid-template-columns: 68px;
    grid-gap: 30px;
    width: 68px;

}

aside > nav > ul > li {
    display: contents;
}

aside > nav > ul > li > a {
    display: block;
    background-color: white;
    text-align: center;
    justify-content: center;
    width: 68px;
    height: 68px;
    border-radius: 7px;
}

aside > nav > ul > li > a > img {
    width: 36px;
    height: 36px;
    margin-top: 13px;
}

aside > p {
    margin-top: 150px;
    color: white;
    white-space: nowrap;
    transform: rotateZ(270deg);
    /*writing-mode: vertical-rl;*/
    /*writing-mode: sideways-lr;*/

}

@media only screen and (max-height: 781px) and (max-width: 1024px) {
    aside > nav > ul {
        margin-top: 50px;
        margin-bottom: 180px;

    }
}
