ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    margin: 0;
    /*overflow: hidden;*/
}

* {
    font-family: Roboto;
}

/*

.App-header
aside
main
*/

div.App {
    display: grid;
    width: 100%;
    height: fit-content;
    /*background-color: #282D30;*/
    grid-template: [header-left] "head head" 100px [header-right]
                 [main-left]   "aside  main" 1fr  [main-right]
                 / 90px 1fr;
}

header.App-header {
    /*background-color: lime;*/
    grid-area: head;
}

aside.App-aside {
   /* background-color: lightblue;*/
    grid-area: aside;
}

main {
    /*background-color: yellow;*/
    grid-area: main;
}

